.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

/* .App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
} */

.nav-links {
  display: inline;
  padding: 150px;
}

a:link {
  color: #04D4F0;
  font-weight: bold;
  text-shadow: 
  1px 1px black,
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

a:visited {
  color: #04D4F0;
}

a:hover {
  color: tomato;
}

a:active {
  color: hotpink;
}

.App-logo {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin-bottom: 0px;
}

.green-neon-text {
  color: forestgreen;
  text-shadow:
  0 0 3px #fff,
  0 0 7px #fff,
  0 0 11px #fff,
  0 0 33px #0fa,
  0 0 65px #0fa,
  0 0 83px #0fa,
  0 0 101px #0fa,
  0 0 133px #0fa;
}

.blue-shadow {
  color: #04D4F0;
  font-weight: bold;
  font-size: calc(12px + 1vmin);
  text-shadow: 
  2px 2px black,
  4px 4px black,
  6px 6px black,
  8px 8px black;
}

.div-text {
  color: #021d4b;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  background-color:#04D4F0;
  /* opacity: 80%; */
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

ul {
  padding-left: 0px;
}

li {
  display: block;
  padding: 10px;
  padding-left: 0px;
  text-align: center;
}

.all-lists {
  display: flex;
}

.list-container {
  width: 25%;
  display: flex;
  margin-left: 2%;
}

.form-div {
  text-align: left;
  margin-left: 43%;
  height: 175px;
}

label {
  margin-right: 10px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04D4F0;
  border: solid, 1px, #021d4b;
  color: #021d4b;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  cursor: pointer;
  margin-left: 80px;
  margin-top: 40px;
}

table {
  color: #021d4b;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  background-color:#04D4F0;
  margin: auto;
  padding: 10px;
  width: 91%;
  height: 190px;
}

th, td {
  border: 2px solid #021d4b;
  padding: 25px;
  width: 140px;
}